body.yoavi-pets {
  min-height: 100vh;
  height: auto;
}

body.yoavi-pets .container {
  margin: 24px;
}

.yoavi-pets h1 {
  margin-top: 40px;
}

.yoavi-pets article {
  margin-bottom: 24px;
}

.yoavi-pets .image {
  width: 200px;
  height: 200px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-left: 1px solid white;
}

.yoavi-pets .image img {
  max-width: 200px;
  max-height: 200px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.yoavi-pets .content {
  flex-grow: 1;
  padding: 16px 20px;
}

.yoavi-pets .content h3 {
  margin-top: 0;
  margin-bottom: .15em;
}

.yoavi-pets .content p {
  margin: 0;
}

.yoavi-pets article:nth-child(odd) {
  flex-direction: row-reverse;
}

.yoavi-pets article:nth-child(odd) .image,
.yoavi-pets article:nth-child(odd) .image img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.yoavi-pets article:nth-child(odd) .image {
  border-left: none;
  border-right: 1px solid white;
}

.yoavi-pets nav {
  width: 100%;
  margin: 0 0 30px;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  .yoavi-pets h1 {
    margin-top: 0;
  }

  .yoavi-pets article {
    border: 1px solid #eee;
    text-align: right;
    margin-right: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column !important;
    width: 320px;
  }

  .yoavi-pets article .image {
    border-radius: 8px 8px 0 0 !important;
    background-color: #fff;
    border: 0 !important;
    height: 320px;
    width: 320px;
  }

  .yoavi-pets article .image img {
    border-radius: 8px 8px 0 0 !important;
    max-width: 320px;
    max-height: 320px;
  }

  .yoavi-pets article .content {
    padding-left: 8px;
    padding: 20px;
    max-width: 320px;
  }

  .yoavi-pets article .socials {
    margin-top: 20px;
  }

  nav {
    border-top: 0;
    padding-top: 0;
  }
}