body {
  background: #8b5e52;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto';
}

article {
  height: 200px;
  width: 800px;
  border-radius: 4px;
  display: flex;
  background: #5c2e27;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.3);
  transition: transform 0.18s ease, box-shadow 0.18s ease;
}

article:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

article .me-container {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

article img.me {
  width: 100%;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

article .me-container:hover img.me {
  transform: scale(1.2);
}

article .content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /*background: #121212;*/
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.content p {
  margin: 0 0 .5em;
  font-size: 16px;
}

.content p:last-of-type {
  flex-grow: 1;
}

h1 {
  line-height: 1;
  margin: 0 0 .5em;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  line-height: 1;
  margin: 0 0 .5em;
  font-size: 24px;
  font-weight: bold;
}

.socials a {
  text-decoration: none;
}

.socials a img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  vertical-align: top;
}

a {
  text-decoration: underline;
  color: white;
}

nav {
  text-align: right;
  margin-top: 4px;
}

nav ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 4px;
}

@media only screen and (max-width: 720px) {
  article {
    border: 0;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0;
    height: auto;
  }

  article img.me {
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  article .content {
    padding: 20px 0;
  }

  .socials {
    margin-top: 10px;
  }

  nav {
    border-top: 1px solid #ccc;
    padding-top: .5em;
  }
}

body.rtl {
  direction: rtl;
  unicode-bidi: normal;
}
